rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reservations/{docId} {
      allow read, create: if true;
      allow update, delete: if true;
    }
    match /{document=**} {
      allow read: if true;
    }
  }
}
